---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Font

@font-face {
  font-family: 'open_sansbold';
  src: url('../font/opensans-bold-webfont.eot');
  src: url('../font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/opensans-bold-webfont.woff2') format('woff2'),
       url('../font/opensans-bold-webfont.woff') format('woff'),
       url('../font/opensans-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold_italic';
  src: url('../font/opensans-bolditalic-webfont.eot');
  src: url('../font/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/opensans-bolditalic-webfont.woff2') format('woff2'),
       url('../font/opensans-bolditalic-webfont.woff') format('woff'),
       url('../font/opensans-bolditalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansextrabold';
  src: url('../font/opensans-extrabold-webfont.eot');
  src: url('../font/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/opensans-extrabold-webfont.woff2') format('woff2'),
       url('../font/opensans-extrabold-webfont.woff') format('woff'),
       url('../font/opensans-extrabold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url('../font/opensans-extrabolditalic-webfont.eot');
  src: url('../font/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/opensans-extrabolditalic-webfont.woff2') format('woff2'),
       url('../font/opensans-extrabolditalic-webfont.woff') format('woff'),
       url('../font/opensans-extrabolditalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansitalic';
  src: url('../font/opensans-italic-webfont.eot');
  src: url('../font/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/opensans-italic-webfont.woff2') format('woff2'),
       url('../font/opensans-italic-webfont.woff') format('woff'),
       url('../font/opensans-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('../font/opensans-light-webfont.eot');
  src: url('../font/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/opensans-light-webfont.woff2') format('woff2'),
       url('../font/opensans-light-webfont.woff') format('woff'),
       url('../font/opensans-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight_italic';
  src: url('../font/opensans-lightitalic-webfont.eot');
  src: url('../font/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/opensans-lightitalic-webfont.woff2') format('woff2'),
       url('../font/opensans-lightitalic-webfont.woff') format('woff'),
       url('../font/opensans-lightitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('../font/opensans-regular-webfont.eot');
  src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/opensans-regular-webfont.woff2') format('woff2'),
       url('../font/opensans-regular-webfont.woff') format('woff'),
       url('../font/opensans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('../font/opensans-semibold-webfont.eot');
  src: url('../font/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/opensans-semibold-webfont.woff2') format('woff2'),
       url('../font/opensans-semibold-webfont.woff') format('woff'),
       url('../font/opensans-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url('../font/opensans-semibolditalic-webfont.eot');
  src: url('../font/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/opensans-semibolditalic-webfont.woff2') format('woff2'),
       url('../font/opensans-semibolditalic-webfont.woff') format('woff'),
       url('../font/opensans-semibolditalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Our variables
$base-font-family:  'open_sanslight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size:    16px;
$base-font-weight:  400;
$small-font-size:   $base-font-size * 0.875;
$base-line-height:  1.5;

$spacing-unit:      30px;

$text-color:        #111;
$background-color:  #efefef;
$brand-color:       #fa9e23;

$grey-color:        #828282;
$grey-color-light:  lighten($grey-color, 40%);
$grey-color-dark:   darken($grey-color, 25%);
$grey-color-darker: #333333;

// Width of the content area
$content-width:     800px;

$on-palm:           600px;
$on-laptop:         800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
