---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      {% assign username = post.author %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <p>{{ post.abstract }}</p>

        <div class="user-profile user-profile-home">
          <div class="user-profile-image">
            {% include author/avatar.html username=username size=60 %}
          </div>
          <h4 class="user-name">
            {% include author/name.html username=username %} - <span class="post-meta">{% include post/date.html date=post.date %}</span>
          </h4>
        </div>

      </li>
    {% endfor %}
  </ul>

</div>
