---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      {% assign username = post.author %}
      <li>
        <span class="post-meta">{% include post/date.html date=post.date %}</span>
        <div class="user-profile">
          <div class="user-profile-image">
            {% include author/avatar.html username=username size=60 %}
          </div>
          <h4 class="user-name">{% include author/name.html username=username %}</h4>
        </div>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <h2>{{ post.title }}</h2>
        <p>{{ post.abstract }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
