---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span class="post-meta post-data-right">{% include post/date.html date=post.date %}</span>
        </h1>
        {% assign username = post.author %}
        <div class="user-profile user-profile-home">
          <div class="user-profile-image">
            {% include author/avatar.html username=username size=60 %}
          </div>
          <h4 class="user-name">
            {% include author/name.html   username=username %}
          </h4>
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
