{% comment %}
  shows author's gravatar image, if present
  params:
    author - object
    size - number
{% endcomment %}

{% assign gravatar_url = site.data.resources.gravatar %}
{% assign size = include.size %}
{% assign author = include.author %}
{% assign gravatar = author.gravatar | escape %}
{% assign name = author.name | escape %}


<!-- avatar component -->
{% if gravatar %}
  <img
    src="{{ gravatar_url }}{{ gravatar | escape }}?s={{ size }}"
    alt="{{ name }} Gravatar picture"
  />
{% endif %}
