<!--
  `links` is the only component that needs `username` instead of `author`,
  because we must link to the `author` page via `username`
-->

{% assign username = include.author %}

{% if username == nil %}
  {% assign username = site.author %}
{% endif %}

<!-- assign author -->
{% assign author = site.data.authors[username][username] %}

{% if include.show_author_link %}
  <a rel="author" itemprop="author" href="{{ site.baseurl }}/autores/{{ username }}">{{ author.name | escape }}</a>
{% endif %}

{% if author.github != nil %}
  {% include icon/github.html username=author.github %}
{% endif %}

{% if author.twitter != nil %}
  {% include icon/twitter.html username=author.twitter %}
{% endif %}
