{% comment %} ASSIGN AUTHOR {% endcomment %}
{% assign username = include.username %}
{% assign author = site.data.authors[username][username] %}

{% comment %} ASSIGN VARIABLE {% endcomment %}
{% assign name = author.name | escape %}
{% assign github = author.github | escape %}
{% assign twitter = author.twitter | escape %}
{% assign show_author_link = include.show_author_link %}

{% comment %} OUTPUT {% endcomment %}
{% if show_author_link %}
  <a rel="author" itemprop="author" href="{{ site.baseurl }}/autores/{{ username }}">{{ name }}</a>
{% endif %}

{% if github %}
  {% include icon/github.html username=github %}
{% endif %}

{% if twitter %}
  {% include icon/twitter.html username=twitter %}
{% endif %}
