{% comment %}
  shows author's links
  params:
    username - string

  `links` is the only component that needs `username` instead of `author`,
  because we must link to the `author` page via `username`
{% endcomment %}

<!-- assign author -->
{% assign username = include.username %}
{% assign author = site.data.authors[username][username] %}
{% if author == nil %}
  {% assign author = site.data.authors[site.author][site.author] %}
{% endif %}

<!-- assign variables -->
{% assign name = author.name | escape %}
{% assign github = author.github | escape %}
{% assign twitter = author.twitter | escape %}
{% assign show_author_link = include.show_author_link %}

<!-- output -->
{% if show_author_link %}
  <a rel="author" itemprop="author" href="{{ site.baseurl }}/autores/{{ username }}">{{ name }}</a>
{% endif %}

{% if github %}
  Github:
  {% include icon/github.html username=github %}
{% endif %}

{% if twitter %}
  Twitter:
  {% include icon/twitter.html username=twitter %}
{% endif %}
