---
layout: default
permalink: /autor/
---

{% assign author = site.data.authors[page.author][page.author] %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ author.name }}</h1>
    <p class="post-meta">
      <p>{% include author/links.html author=page.author hide_name=true %}</p>
    </p>

    <!-- avatar -->
    {% include author/avatar.html author=author size=100 %}

    <!-- about -->
    {% if author.about != nil%}
      <p>{{ author.about }}</p>
    {% endif %}
  </header>

  <div>
    <h2>Posts do autor</h2>
    <ul>
      {% for post in site.posts do %}
        {% if (post.author == page.author) or (post.author == nil and page.author == site.author) %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.date | date: "%d/%m/%Y" }} -
              {{ post.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</article>
