---
layout: page
---
<ul class="post-list">
  {% for a in site.data.authors %}
    <li>
      {% assign username = a[0] %}

      <h3>
        <a rel="author" itemprop="author" href="{{ site.baseurl }}/autores/{{ username }}">
          {% include author/name.html username=username %}
        </a>
      </h3>

      <div class="user-profile">
        <div class="user-profile-image">
          {% include author/avatar.html username=username size=60 %}
        </div>
        <p class="user-name">{% include author/links.html  username=username %}</p>
      </div>
    </li>
  {% endfor %}
</ul>
