---
layout: default
permalink: /autor/
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  {% assign username = page.author %}

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">
      {% include author/name.html username=username %}
    </h1>
    {% include author/about.html  username=username %}

    <div class="user-profile">
      <div class="user-profile-image">
        {% include author/avatar.html username=username size=60 %}
      </div>
      <p class="user-name">{% include author/links.html  username=username %}</p>
    </div>
  </header>

  <div>
    <h2>Posts do autor</h2>
    <ul class="post-list">
      {% for post in site.posts do %}
        {% if (post.author == page.author) or (post.author == nil and page.author == site.author) %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {% include post/date.html date=post.date %} - {{ post.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</article>
