---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% include post/date.html date=page.date %}
      </time>
      {% assign username = page.author %}
      <!-- author avatar -->
      {% include author/avatar.html username=username size=60 %}
      <!-- author links -->
      {% include author/links.html username=username show_author_link=true %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
